<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'defaults/head.html' %}
</head>

<body>
    <header> {% include 'defaults/header.html' %} </header>
    {% include 'defaults/novedad.html' %}
    <h1>Nuestro Hospital</h1>
    <img src="/static/img/HMOMC.jpg" class="imghosp">
    <hr>
    <h2>Historia</h2>
    <p>El Hospital Maria Curie fue fundado en 1931 y se trata del único que se especializa
        en su totalidad en esta patología; además de ser pionero en el uso de la quimioterapia en cabeza y cuello.
        Fue sino hasta el año 1991 que comenzó a ser conocido como
        "Maria Curie".
    </p>
    <a href="https://www.latitudperiodico.com.ar/salud%20y%20ciencia/marie%20curie%20hospital%20oncologico.htm"
        target="_blank">Conocer un poco de la historia</a>
    <h2><b>Dependencia</b></h2>
    <p>El hospital, de características monovalentes para la patología oncológica, se trata de
        una institución municipal bajo la órbita del Ministerio de Salud del Gobierno de la Ciudad de Buenos Aires;
        siendo
        uno de los 37 hospitales. Sumado a ellos, también se encuentran otros 69 centros de salud correspondientes
        a distintos niveles de complejidad que van desde CeSAC hasta Centros medicos barriales.
        <br>
    <h2>Nuestra institución hoy</h2>
    <p>La institución tiene por objetivo el proveer asistencia en salud a la población de la Ciudad de Buenos Aires.
        Para ello se ofrece asistencia médica, residencias y jornadas de capacitación para formar personal capacitado y
        así brindar
        un mejor servicio. En el hospital se cuenta con </p>
    <ul type="square">
        <li>735 empleados entre profesionales, técnicos y administrativos</li>
        <li>3 Quirófanos. Dos de alta complejidad y uno destinado a procedimientos sencillos</li>
        <li>4 camas UTI</li>
        <li>100 camas de internación</li>

    </ul>
    <hr>
    </p>
    {% include 'defaults/footer.html' %}
</body>

</html>