<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'defaults/head.html' %}
    <title>Prevencion</title>
</head>

<body>
    <header> {% include 'defaults/header.html' %} </header>
    {% include 'defaults/novedad.html' %}
    <h2>Prevencion</h2>
    <section class="box">
        <article>
            <div class="noticia">
                <img src="/static/img/bbb.jpeg" alt="">
            </div>
            <h2>Cuidar el riñon: riesgo de antiinflamatorios</h2>
            <p>En los adultos mayores, su consumo indiscriminado puede ser una causa importante de
                falla renal.
            </p>
            <a href="/static/pdf/riñon.pdf" target="_blank">ver mas</a>

        </article>
        <article>
            <div class="noticia">
                <img src="/static/img/acv.jpg" alt="">
            </div>
            <h2>¿Cómo reconocer un ACV?</h2>
            <p>Reconocer los síntomas de un ACV, es fundamental para no demorar la llegada al Hospital</p>
            <a href="/static/pdf/acv.pdf" target="_blank">ver mas</a>
        </article>
        <article>
            <div class="noticia">
                <img src="/static/img/psico.jpg" alt="">
            </div>
            <h2>Clonazepam: El riesgo de medicar los sentimientos</h2>
            <p>Se indica en casos muy puntuales, pero también tiene un peligroso uso
                si se lo consume para aliviar sintomas como la ansiedad, el miedo o el estrés cotidiano.
            </p>
            <a href="/static/pdf/Clonazepam.pdf" target="_blank">ver mas</a>
        </article>
        <article>
            <div class="noticia">
                <img src="/static/img/Dengue.png" alt="">
            </div>
            <h2>Dengue: ¿Qué hay de nuevo en la prevención?</h2>
            <p>Entrevista al equipo de Epidemiología para saber qué cambió y que no.
                Similitudes sintomáticas con el COVID e información sobre la vacuna.
            </p>
            <a href="/static/pdf/Dengue.pdf" target="_blank">ver mas</a>
        </article>
    </section>
    {% include 'defaults/footer.html' %}
</body>

</html>